<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="logo"> Synz </div>

  <div class="navigation">
    <a href="/" class="active">Home</a>
    <a href="/projects">Projects</a>
    <a href="/mira">Mira</a>
  </div>

  <div class="profile-container">
    <div class="profile-picture">
  <img src="pfp.png" alt="Profile Picture">
    </div>
    <div class="about-me">
      <p>Hello, I'm Synz, a 16-year-old Full Stack Developer from Ireland. Among my current projects, I'm proud to introduce Mira—a versatile Discord bot I've personally developed.

Being the sole developer behind Mira, I've poured my expertise into creating features like server moderation, robust protection, and an enhanced user experience. Mira reflects not just a bot but the outcome of my journey as a solo Full Stack Developer.

In this coding adventure, Mira stands as a testament to the possibilities achievable by a single developer. It's a project close to my heart, and I'm excited to see where this digital journey takes me! 🚀💻✨</p>
    </div>
  </div>
</body>
</html>